* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f5f8fd;
    min-height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

aside {
    padding: 27px 18px 24px;
    background-color: #ffffff;
    border-right: 1px solid #e7e8ed;
}


main {
    padding: 25px 30px 0px 30px;
}

.main-container {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

.logo-cctd {
    width: 190px;
}

.logo-cctd-holder {
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 30px;

    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;  
}


.item-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px 25px;
}

.logo-configuracion {
    margin-top: 260px;
}

.information-cards, .rapid-access {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 3px solid #e7e8ed ;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 8px 15px;

}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.information-cards, .rapid-access, .changelog {
    margin-top: 15px;
}

.changelog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}