* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

aside {
    padding: 27px 18px 24px;
    border-right: 1px solid #e7e8ed;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    top: 0;
    height: 100vh;
}


main {
    padding: 34px 58px 46px;
    background-color: #f5f8fd;
}

.container {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

.logo-cctd {
    width: 190px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px 25px;
}

.logo-configuracion {
    margin-top: 260px;
}

.information-cards, .access-cards {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;  
}

.cta-section {
    border: 1px solid #e7e8ed;
    border-radius: 10px;
    padding: 18px 20px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 14px rgba(19, 42, 101, 0.06);


}

.header-section, .cta-section {
    margin-bottom: 15px;
}


.changelog-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.card-body {
    display: flex;
    align-items: center;
    border: 1px solid #e7e8ed;
    border-radius: 10px;
    padding: 20px 28px;
    gap: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 14px rgba(19, 42, 101, 0.06);

}



.information-card {
    min-height: 122px;
}

.access-card {
    min-height: 104px;
}

.access-card > .card-body {
    box-shadow: none;
}

.changelog-card {
    border: 1px solid #e7e8ed;
    border-radius: 10px;
    padding: 10px 15px;
    min-height: 385px;
    padding: 20px 22px;
    background-color: #ffffff;
    box-shadow: 0 4px 14px rgba(19, 42, 101, 0.06);

}

.info-card {
    display: flex;
    flex-direction: column; 
}

.changelog-card > .info-card {
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 20px;
    min-height: 300px;
}


